<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand clearfix" href="/"><span class="glyphicon glyphicon-map-marker"></span><span>Trip Planner</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfQxgWt-LSZcEmTEN8581Uq9SzZHnpuys"></script>
    <script src="/js/map.js"></script>
    <script>

    //var startDay = $("#start-day").clone();

     $('#hotels').on('click', 'button', function() {
      var selectedOption = $("#hotel-choices option:selected").text();
      var hotelIndex;
      hotels.forEach(function(hotel, index) {
        if (hotel.name === selectedOption) {
          hotelIndex = index;
        }
      })
      var hotelLocation = hotels[hotelIndex].place.location;
      var newHtml = '<div id=' + hotelIndex + ' class="itinerary-item"><span class="title">' + selectedOption + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
      $("#hotel-itinerary").append(newHtml);
      // $("#hotel-itinerary .itinerary-item").data(hotels[hotelIndex].name, {"type": "hotel", "index": hotelIndex});
      var markerTest = drawMarker('hotel', hotelLocation);
      $("#hotel-itinerary #" + hotelIndex).data(selectedOption, markerTest);
      // {Andaz Wall Street: markerTest}
      // console.log(markerTest);
    })
     $('#restaurants').on('click', 'button', function() {
      var selectedOption = $("#restaurant-choices option:selected").text();
      var restaurantIndex;
      restaurants.forEach(function(restaurant, index) {
        if (restaurant.name === selectedOption) {
          restaurantIndex = index;
        }
      })
      var restaurantLocation = restaurants[restaurantIndex].place.location;
      var newHtml = '<div id=' + restaurantIndex + ' class="itinerary-item"><span class="title">' + selectedOption + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
      $("#restaurant-itinerary").append(newHtml);
      var markerTest = drawMarker('restaurant', restaurantLocation);
      $("#restaurant-itinerary #" + restaurantIndex).data(selectedOption, markerTest);
    })
     $('#activities').on('click', 'button', function() {
      var selectedOption = $("#activity-choices option:selected").text();
      var activityIndex;
      activities.forEach(function(activity, index) {
        if (activity.name === selectedOption) {
          activityIndex = index;
        }
      })
      var activityLocation = activities[activityIndex].place.location;
      var newHtml = '<div id=' + activityIndex + ' class="itinerary-item"><span class="title">' + selectedOption + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
      $("#activity-itinerary").append(newHtml);
      var markerTest = drawMarker('activity', activityLocation);
      $("#activity-itinerary #" + activityIndex).data(selectedOption, markerTest);
    })

    //delete
    $('#itinerary').on('click', 'button', function() {
      var name = $(this).siblings()[0].textContent;
      var index = $(this).parent().attr('id');
      var parent = $(this).parent().parent().attr('id');
      var marker = $("#" + parent + " #" + index).data(name);
      marker.setMap(null);
      $(this).parent().remove();
    })

    //add a day button thing
    $("#add-day").on('click', function() {
      $(".day-buttons button").removeClass("current-day");
      var numOfDays = $(".day-buttons button").length;

      $(this).before("<button class='btn btn-circle day-btn current-day'>" + numOfDays + "</button>");
      $("#day-title span").text("Day " + numOfDays);


      //$("#start-day").append(startDay);
      //$("#start-day .panel")[0].hide();

    })



    </script>
  </body>
</html>


<!---->


